<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>leave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        presentation="date"
        value="2023-11-02T01:22:00"
        displayFormat="DD/MM/YYYY"
        locale="en-GB"
        (ionChange)="onDateChange($event)"
        [formatOptions]="{
          date: { 
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
          }
        }"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-input label="Reason" label-placement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="reason" ></ion-input>
  <ion-button class="button" (click)="handleSave()">
    save
  </ion-button>
</ion-content>
