<!-- <ion-header [translucent]="true" style="display: flex;">
  <ion-buttons slot="start">
   
  </ion-buttons>
  <ion-toolbar>
    <ion-title>hometab</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item (click)="handleAttendance()">
          Attendance
        </ion-item>
        <ion-item (click)="handleLog()">
          Attendance Log
        </ion-item>
        <ion-item>
          Permission
        </ion-item>
        <ion-item>
          Leave
        </ion-item>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>


    <!-- attendance -->
    <ion-card class="attendance" (click)="handleAttendance()">
      <ion-card-header>
        <img src="assets/img/Attendance.png" alt="Attendance">
        <strong>Attendance</strong>
      </ion-card-header>
    </ion-card>
    <!-- attendance log -->
    <ion-card class="log" (click)="handleLog()">
      <ion-card-header>
        <img src="assets/img/log.png" alt="log">

        <strong>Log</strong>

      </ion-card-header>
    </ion-card>
    <!-- permission -->
    <ion-card class="permission">
      <ion-card-header>
        <img src="assets/img/Permission.png" alt="permission">

        <strong>Permission</strong>

      </ion-card-header>
    </ion-card>
    <!-- leave -->
    <ion-card class="leave">
      <ion-card-header>
        <img src="assets/img/Leave.png" alt="leave">

        <strong>Leave</strong>

      </ion-card-header>
    </ion-card>
    <!-- out punch -->
    <ion-card class="out">
      <ion-card-header>
        <img src="assets/img/out.png" alt="outpunch">

        <strong>Out Punch</strong>

      </ion-card-header>
    </ion-card>
    <!-- plan -->
    <ion-card class="plan">
      <ion-card-header>
        <img src="assets/img/Plan.png" alt="plan">

        <strong>Plan</strong>

      </ion-card-header>
    </ion-card>
  </div>
</ion-content>