<ion-header [translucent]="true" style="display: flex;">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <capacitor-google-map id="map" #map></capacitor-google-map>
  <button (click)="handleMap()">map</button>
    <!-- <ion-img  *ngIf="image"
      class="img"
      [src]="image"></ion-img>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" style="margin-bottom:80px; display: flex;padding: 10px;">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-button (click)="handleUpload()" color="success">Upload</ion-button>
  </ion-fab> -->

</ion-content>