<ion-content [fullscreen]="true">
  <div class="container">
  
    <ion-card class="card">
        <ion-card-content class="input">
          <ion-item class="text">
            <ion-label class="txt">Login</ion-label>
          </ion-item>
       <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <ion-item class="items">
            <ion-input label="User Name" type="email" required name="name" ngModel label-placement="floating" fill="outline"
              placeholder="Enter username"></ion-input>

          </ion-item>
          <ion-item class="items">
            <ion-input label="Password" type="password" required name="password" ngModel label-placement="floating" fill="outline"
              placeholder="Enter Password"></ion-input>

          </ion-item>

          <ion-item class="but">
            <ion-button class="Login" type="submit">Login</ion-button>
          </ion-item>
        </form>
        </ion-card-content>
    </ion-card>
  </div>
</ion-content>